{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}

                <h1> <small> Countries </small> </h1>

                <table class="table table-striped table-hover" >   
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ countries.id }}</td>
                        </tr>
                        <tr>
                        <th>Name</th>
                            <td>{{ countries.name }}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{ countries.code }}</td>
                        </tr>
                        <tr>
                            <th>DialCode</th>
                            <td>{{ countries.dialCode }}</td>
                        </tr>

                        <tr>  <td colspan="2"> </td>  </tr>

                        <tr>
                            <th>Longitude</th>
                            <th>Latitude</th>
                        </tr>
                        <tr>
                            <td>{{ countries.longitude }}</td>
                            <td>{{ countries.latitude }}</td>
                        </tr>                 
                    </tbody>
                   
                </table>

            {# Link for to return at homepage or modify the object #}
        
            <a class="btn btn-default" href="{{ path('app_countries_index') }}" role="button"> Retour </a>

            <a class="btn btn-default" href="{{ path('app_countries_edit', {'id': countries.id}) }}" role="button"> Edit </a>

            {{ include('countries/_delete_form.html.twig') }}
        
        
{% endblock %}
