{% extends 'base.html.twig' %}

{% block title %}District{% endblock %}

{% block body %}
    <h1> <small> Arrondissement </small> </h1>

    <table class="table table-striped table-hover">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ district.id }}</td>
            </tr> #}
            <tr>
                <th>Nom</th>
                <td>{{ district.name }}</td>
            </tr>

            <tr>  <td colspan="2"> </td>  </tr>

            <tr>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            <tr>
                <td>{{ district.longitude }}</td>
                <td>{{ district.latitude }}</td>
            </tr>
        </tbody>
    </table>

        <div class="container-fluid">
           
                <div class="pull-left">
                    <a class="btn btn-info" href="{{ path('app_district_edit', {'id': district.id}) }}" role="button"> Editer </a> 
                </div>

                <div class="pull-right">
                    <a class="btn btn-info" href="{{ path('app_district_index') }}" role="button"> Retour à la liste </a>         
                </div>

                {{ include('district/_delete_form.html.twig') }}

        </div>

{% endblock %}
