{% extends 'base.html.twig' %}

{% block title %}  Accueil | World's Countries and Others  ! {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>  World's Countries and Others  </h1>

        {# Recupere the data who concern countries #}

        <h3> List of All Countries's Code </h3>

        <p>
        </br> </br>
            Hello World !!  </br>
            To more know on : 
            <ul>
                <li> <a href="{{ path('app_countries_index') }}"> Countries </a> </li>
                <li> <a href="{{ path('app_department_index') }}"> Department </a> </li>
                <li> <a href="{{ path('app_district_index') }}"> District </a> </li>
                <li> <a href="{{ path('app_municipality_index') }}"> Municipality </a> </li>
                <li> <a href="{{ path('app_town_index') }}"> Town </a> </li>

            </ul>
        </p>

    </div>

{% endblock %}