
<ul class="nav nav-tabs ">
    <li role="presentation" class="nav-item" > <a href="{{ path('app_accueil') }}" class="nav-link">Home</a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_countries_index') }}" class="nav-link"> Countries </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_department_index') }}" class="nav-link"> Departments </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_district_index') }}" class="nav-link"> Districts </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_municipality_index') }}" class="nav-link"> Municipalities </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_town_index') }}" class="nav-link"> Towns </a> </li>
</ul>