
<ul class="nav nav-tabs ">
    <li role="presentation" class="nav-item" > <a href="{{ path('app_accueil') }}" class="nav-link">Accueil</a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_countries_index') }}" class="nav-link"> Pays </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_department_index') }}" class="nav-link"> Départements </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_district_index') }}" class="nav-link"> Quartiers </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_municipality_index') }}" class="nav-link"> Municipalités </a> </li>
    <li role="presentation" class="nav-item"> <a href="{{ path('app_town_index') }}" class="nav-link"> Villes </a> </li>
</ul>