{{ form_start(form) }}
    {{ form_widget(form) }}
     <div class="form-inline">

        <div class="pull-left">
            <a class="btn btn-default"  role="button">  {{ button_label|default('Enregistrer') }} </a>  <br> <br>    
        </div>
    </div>

    {# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}