<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Welcome ! {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
                    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
        <link rel="stylesheet" href="{{ asset('css/fonts/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/Contact-Form-Clean.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/Footer-Dark.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/Newsletter-Subscription-Form.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css/styles.css') }}">

        <!-- Style for Map -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/css/map-init.css') }}" /> 
         

            <style>
                {# voir style customize #}

                button, input, optgroup, select, textarea {
                    margin:09px;
                    font:inherit;
                    color:inherit;
                }
         
                table tbody a i {
                    padding-left : 8px;
                }
                .container {
                    margin-top: 2px;
                }
                /* background du nav */
                .container nav {
                    background-color: #DBD9E9   ;
                }

                table thead th {
                    background-color: #D5F0D4;
                    box-shadow: 0.125rem 0 0.1875rem #dee2e6;
                }
                #btnPosition{
                   margin-bottom: 10px;
                   text-align:center;
                }
                .alert{
                    padding:1Opx;
                    color: white;
                    text-align : center;
                }

                .alert-success{
                    background-color: green;
                }

                .alert-error{
                    background-color: red;
                }
            
            </style>

        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        
        {% endblock %}

        <!-- Bas de page -->
        <script src="{{ asset('css/js/jquery.min.js') }}"></script>
        <script src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('css/js/bs-init.js') }} "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
        <script src="{{ asset('css/js/aos.js') }}"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
        <!-- Map -->
        <script src="{{ asset('css/js/map-init.js') }}"></script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGBK_yey9JlnTJwfjV85CQ4e7IIJlx7ms&callback=initMap&v=weekly"
        defer
        ></script>
        {% block javascripts %} {% endblock %}
    </head>
    <body>

        <div class="container"> 

                {{ include('nav_bar/navbar.html.twig') }}

                {{ include('nav_bar/flash_message.html.twig') }}


                {% block body %} {% endblock %} 

                {{ include('footer/footer.html.twig') }}
        </div>
    
    </body>
</html>