{% extends 'base.html.twig' %}

{% block title %}Municipality index{% endblock %}

{% block body %}
    <h1> <small> Liste des Municipalités </small> </h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for municipality in municipalities %}
            <tr>
                {# <td>{{ municipality.id }}</td> #}
                <td>{{ municipality.name }}</td>
                <td>{{ municipality.longitude }}</td>
                <td>{{ municipality.latitude }}</td>
                <td>
                    <a href="{{ path('app_municipality_show', {'id': municipality.id}) }}"> <i class="glyphicon glyphicon-eye-open">  </i> </a>
                    <a href="{{ path('app_municipality_edit', {'id': municipality.id}) }}"><i class="glyphicon glyphicon-pencil">  </i> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"> Aucun Enregistrement trouvé </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% if maxPages > 1 %}
       <div class="center">
           <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            <li {{ thisPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('app_municipality_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>

            {# Render each page number #}
            {% for i in 1..maxPages %}
            <li {{ thisPage == i ? 'class="active"' }}>
            <a href="{{ path('app_municipality_index', {currentPage: i}) }}">{{ i }}</a>
            </li>
            {% endfor %}

            {# `»` arrow #}
            <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                <a href="{{ path('app_municipality_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        </ul>
       </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="pull-left">
                <a class="btn btn-info" href="{{ path('app_municipality_new') }}" role="button"> Nouvelle Municipalite </a> 
            </div>

            <div class="pull-right">
                <a class="btn btn-info" href="{{ path('app_accueil') }}" role="button"> Retour </a>     <br> <br>    
            </div>
        </div>
    </div>
  
{% endblock %}
